{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeauteCart</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
 
  <header style="background-image: url({% static 'images/nrsbackground7.jpeg' %});" >
    

      <div class="nav-icons">
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                 <li><a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i> Wishlist</a></li>
               <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
               <li><a href="{% url 'user_profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'tryon' %}"><i class="   fa fa-gift"></i>......TryOn</a></li>
                <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" style="font-size:24px;color:rgba(216, 188, 188, 0.844)"></i>Logout</a></li>

                
                

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                
            {% endif %}
        </ul>
    </div>

    <!-- <div class="nav-icons">
      <ul>
          {% if user.is_authenticated %}
              <li>Welcome, {{ user.username }}!</li>
              <li><a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i> Wishlist</a></li>
              <li>
                  <a href="{% url 'cart' %}" class="view-cart-link">
                      <i class="fa fa-shopping-cart"></i> Cart
                  </a>
                  {% if cart_count > 0 %}
                      <span class="cart-count">{{ cart_count }}</span>
                  {% endif %}
              </li>
              <li><a href="{% url 'user_profile' %}"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
      </ul>
  </div> -->
  
    <!-- here_session end -->
      
      <div class="nav-bar">
        <a href="home.html"><img class="click" src="{% static '/images/logo.png' %}" alt="logo"></a>
        <div class="nav-links">
          <a class="LINK" href="{% url 'about'%}">About</a>
          
          <a class="LINK" href="{% url 'product_list' %}">Our Products</a>
          <a class="LINK"href="{% static '#Artists' %}">Artists</a> 
          <!-- <a class="LINK" href="{% url 'upload_video' %}">FLAWLESS</a> -->
          <a class="LINK" href="#">BeauteBot</a>
          <a class="LINK" href="{% url 'Brideindex' %}">BridalDreams</a>
          <a class="LINK" href="{% url 'display_videos' %}">BeauteAdvice</a>
          <a class="LINK" href="{% url 'blog' %}">BeauteBlog</a>
          <a class="LINK" href="{% url 'review_list' %}">Reviews</a>

        
          
          
        </div>
      </div>
      <i class="fa fa-bars fa-2x" id="bars"></i>
    </nav>
    <div class="nav-menu">
      <i class="fa fa-times fa-2x" id="closingIcon"></i>
      <ul>
        <li class="mobileLinks"><a href="{% static 'home.html' %}">Home</a></li>
        <li class="mobileLinks"><a href="{% static '#products'  %}">Products</a></li>
        <li class="mobileLinks"><a href="{% static 'about.html' %}">About</a></li>
        
   


      </ul>
    </div>
    <div class="main">
      <!-- <q>BeauteCart</q> -->
      <h1 style="background-image: url('{% static 'images/text back.png' %}');"></h1>
      <!-- <p class="description">
        Looking young and beautiful never comes without using the best cosmetics.
        Here we have compiled the best skincare products by the best brands.
      </p>
      <p class="promotion">
        10% OFF FOR FIRST PURCHASE
      </p> -->
      <!-- <a class="more" href="{% static '#viewmore' %}">SEE OUR COLLECTIONS.</a> -->
    </div>
  </header>
  <section class="products" id="products" style="background-image: url({% static 'images/products bck.png' %});">
    <h2>Main Products</h2>
    <hr class="title-underline">
    <div class="product-list">
      <div class="skincare">
        <img class="product-image" src="{% static '/images/cleanser.png' %}" alt="cleanser">
        <h3>Cleansers</h3>
        <p class="explication">Our cleansers help remove excess oil, makeup, sweat, dirt and dead skin.</p>
      </div>
     
      <div class="skincare" id="serums-div">
        <img class="product-image" src="{% static '/images/serum.png' %}" alt="serum">
        <h3>Serums</h3>
        <p class="explication">By using our serums, your skin will be more radiant, full of color, and it'll be less dry.</p>
    </div>
    
    <script>
      document.getElementById('serums-div').addEventListener('click', function() {
          window.location.href = "{% url 'serums_products' %}";
      });
   </script>
  
      <!-- <div class="skincare">
        <img class="product-image" src="{% static '/images/bodylotion.png ' %}" alt="lotion">
        <h3>Foundations</h3>
        <p class="explication">Discover Your Perfect Shade for a Flawless Complexion.</p>
      </div> -->

      <div class="skincare" id="foundations-div">
        <img class="product-image" src="{% static '/images/bodylotion.png ' %}" alt="lotion">
        <h3>Foundations</h3>
        <p class="explication">Discover Your Perfect Shade for a Flawless Complexion.</p>
    </div>
    
    <script>
    document.getElementById("foundations-div").addEventListener("click", function() {
        window.location.href = "{% url 'foundations_products' %}";
    });
    </script>
    
      <div class="skincare">
        <img class="product-image" src="{% static '/images/nails.png' %}" alt="nails">
        <h3>Nails</h3>
        <p class="explication">Use our nail products to ensure that your nails are in good condition and the skin on hands and feet is well cared.</p>
      </div>
      <div class="skincare">
        <img class="product-image" src="{% static '/images/hair.png' %}" alt="hair"> 
        <h3>Hair</h3>
        <p class="explication">Our hair products will strengthen your hair follicles and enhance hair growth.</p>
      </div>
    </div>
    <!-- <a class="button">View more products</a> -->
    <a class="button" href="{% url 'product_list' %}">View more products</a>

   

  </section>
  <div class="artists" id="Artists">
    <h2 class="arts">Our Beautician Artists</h2>
    <hr class="title-underline">
    <!-- <div class="artist-wrapper"></div> -->

  <!-- beautician from js -->
  <div class="artist-wrapper">

    <!-- Beautician 1 -->
    <div class="artist-card">
      <div class="artist-description">
        <div class="artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/Esthetician .png' %}" alt="Marleine Tshel" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Marleine Tshel</h4>
            <figcaption> <em>Internatioal esthetician and over 8 years of experience as an esthetician.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Finished her esthetician studies and got her certificate in 2012. She provides services for your skin care needs.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Beautician 2 -->
    <div class="artist-card">
      <div class="artist-description">
        <div class "artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/Makeup artist .png' %}" alt="Anabelle Slovy" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Anabelle Slovy</h4>
            <figcaption> <em>Part of the DMFA Makeup Academy Tutors at Harvard University.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Anabelle has always been passionate about art and one of the most exquisite expressions of makeup.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Beautician 3 -->
    <div class="artist-card">
      <div class="artist-description">
        <div class="artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/eshetician2.png' %}" alt="Virgile Bual" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Virgile Bual</h4>
            <figcaption> <em>Internatioal esthetician and over 8 years of experience as an esthetician.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Finished her esthetician studies and got her certificate in 2012. She provides services for your skin care needs.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Beautician 4 -->
    <!-- Repeat the structure below for each remaining beautician -->
    <!-- ... -->
  
    <div class="artist-card">
      <div class="artist-description">
        <div class="artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/eshetician3.png' %}" alt="Van Glor" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Van Glor</h4>
            <figcaption> <em>Part of the DMFA Makeup Academy Tutors at Harvard University.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Van has always been passionate about art and one of the most exquisite expressions of makeup.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Beautician 5 -->
    <!-- Repeat the structure below for each remaining beautician -->
    <!-- ... -->
  
    <div class="artist-card">
      <div class="artist-description">
        <div class="artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/make up artist.png' %}" alt="Elizabeth Beth" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Elizabeth Beth</h4>
            <figcaption> <em>Part of the DMFA Makeup Academy Tutors at Harvard University.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Beth has always been passionate about art and one of the most exquisite expressions of makeup.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Beautician 6 -->
    <!-- Repeat the structure below for each remaining beautician -->
    <!-- ... -->
  
    <div class="artist-card">
      <div class="artist-description">
        <div class="artist">
          <div class="imgs">
            <img class="artist-image" src="{% static '/images/spa artist.png' %}" alt="Lauraine Abdob" />
            <img class="back-img" src="{% static '/images/squre photo.png' %}" alt="background" />
          </div>
          <div class="art-desc">
            <h4>Lauraine Abdob</h4>
            <figcaption> <em>Internatioal esthetician and over 8 years of experience as an esthetician.</em></figcaption>
            <hr class="artist-underline">
            <p class="artist-paragraph">Finished her esthetician studies and got her certificate in 2012. She provides services for your skin care needs.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Repeat for other beauticians -->
  
  </div>
  
  
    <!-- </div>
    <button class="artist-button">MORE <i class="fa fa-chevron-down"></i></button>
  </div> -->
  <div class="PARTNER">
    <h2>Partners</h2>
    <hr class="title-underline">
    <div class="PARTNERS">
      <img class="partner-img" src="{% static 'images/partner1.png' %}" alt="longrich">
      <img class="partner-img" src="{% static 'images/partner2.png' %}" alt="loreal">
      <img class="partner-img" src="{% static 'images/partner3.png' %}" alt="sanso">
      <img class="partner-img" src="{% static 'images/partner4.png' %}" alt="aura">
      <img class="partner-img" src="{% static 'images/partner5.png' %}" alt="nivea">
    </div>
  </div>
  <div class="Footer">
    <img class="LOGO2"src="{% static 'images/our logo.png' %}" alt="logo">
    <p class="footer2">@BeauteCart <br> Some Rights Reserved.</p>
  </div>
  <script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}';

   

  

</script>
  <script src="{% static 'script.js' %}"></script>
  <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous' %}"></script>
  <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous'%}"></script>
</body>
</html>